<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Gallery website for tattoo artist Dalma Bruder" />
  <meta name="keywords" content="tattoo,artist,dalma,bruder,dalmabruder,dalmabrudertattoo,pecs,tetovalas,tetkó,tat,art,ink" />

  <title>Dalma Bruder Tattoo</title>

  <link rel="stylesheet" type="text/css" href="{{relative 'public/core.css'}}" />
  <link rel="stylesheet" type="text/css" href="{{relative 'public/theme.css'}}" />
  <link rel="stylesheet" type="text/css" href="{{relative 'public/css/lightgallery.min.css'}}" />
</head>
<body>
  <div id="main">
    <header>
      DALMABRUDERTATTOO
    </header>

    <sidebar>
    </sidebar>

    <content id="lg">
      {{#each (groupByYearAndMonth album.files)}}
        <div>
          {{@key}}
          <hr />
          {{#each this}}
            <a href="{{relative urls.large}}">
              <img src="{{relative urls.small}}">
            </a>
          {{/each}}
        </div>
      {{/each}}
    </content>
  </div>

  <script src="{{relative 'public/js/jquery.min.js'}}"></script>
  <script src="{{relative 'public/js/lightgallery.min.js'}}"></script>
  <script src="{{relative 'public/js/jquery.mousewheel.min.js'}}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#lg').lightGallery();
    });
  </script>
</body>
</html>

