<!DOCTYPE html>
<html lang="hu">
<head>
  {{> google-analytics}}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Gallery website for tattoo artist Dalma Bruder" />
  <meta name="keywords" content="tattoo,artist,dalma,bruder,dalmabruder,dalmabrudertattoo,pecs,pécs,Pécs,tetovalas,tetkó,tat,art,ink,tattoolife" />

  <title>Dalma Bruder Tattoo</title>

  <link rel="stylesheet" type="text/css" href="{{relative 'public/core.css'}}" />
  <link rel="stylesheet" type="text/css" href="{{relative 'public/theme.css'}}" />
  <link rel="stylesheet" type="text/css" href="{{relative 'public/css/lightgallery.min.css'}}" />
  <link rel="stylesheet" type="text/css" href="{{relative 'public/css/bootstrap.min.css'}}" />
  <link rel="stylesheet" type="text/css" href="{{relative 'public/css/fontawesome-all.min.css'}}" />
</head>
<body>
  <div id="main">
    <header class="header">
      <div class="header-left">
        DALMABRUDERTATTOO
      </div>
      <div class="header-right">
        <i id="mobile-sidebar-opener" class="fas fa-bars"></i>
      </div>
    </header>

    <sidebar class="sidebar desktop">
      <div class="address">7623 Pécs, Ferencesek utcája 34.</div>
      <div class="maps" data-toggle="modal" data-target=".map-modal">Térkép</div>
      <a class="instagram" href="https://www.instagram.com/dalmabrudertattoo" target="_blank"><i class="fab fa-instagram"></i> @dalmabrudertattoo</a>

      {{#each (objectKeys (groupByYearAndMonth album.files))}}
        <div class="month" href="{{slugify this}}">{{this}}</div>
      {{/each}}
    </sidebar>

    <sidebar class="sidebar mobile hidden">
      <div class="address">7623 Pécs, Ferencesek utcája 34.</div>
      <div class="maps" data-toggle="modal" data-target=".map-modal">Térkép</div>
      <a class="instagram" href="https://www.instagram.com/dalmabrudertattoo" target="_blank"><i class="fab fa-instagram"></i> @dalmabrudertattoo</a>

      {{#each (objectKeys (groupByYearAndMonth album.files))}}
        <div class="month" href="{{slugify this}}">{{this}}</div>
      {{/each}}
    </sidebar>

    <content id="albums">
      {{#each (groupByYearAndMonth album.files)}}
        <div id="{{slugify @key}}">
          {{@key}}
          <hr />
          {{#each this}}
            <a class="item" data-src="{{relative urls.large}}">
              <img src="{{relative urls.small}}">
            </a>
          {{/each}}
        </div>
      {{/each}}
    </content>
  </div>

  <div class="modal fade map-modal" tabindex="-1" role="dialog" aria-labelledby="mapModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header small no-border">
          <h6 class="modal-title">Térkép</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body no-padding">
          <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2767.776490042686!2d18.222152914917366!3d46.07549770046714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4742b1989997a59b%3A0x78392d645b7cf653!2sP%C3%A9cs%2C+Ferencesek+utc%C3%A1ja+34%2C+7624!5e0!3m2!1shu!2shu!4v1566500183499!5m2!1shu!2shu" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{relative 'public/js/jquery.min.js'}}"></script>
  <script src="{{relative 'public/js/jquery.mousewheel.min.js'}}"></script>
  <script src="{{relative 'public/js/jquery.scrollTo.min.js'}}"></script>
  <script src="{{relative 'public/js/bootstrap.min.js'}}"></script>
  <script src="{{relative 'public/js/lightgallery.min.js'}}"></script>
  <script src="{{relative 'public/js/theme.js'}}" type="text/javascript"></script>
</body>
</html>

